<div class="container">
  <div class="row">
    <div class="main-login__login-container col-12">
      <div class="fanvue">fanvue <i></i></div>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordNow()">
        <div class="m-0">
          <input
            type="password"
            placeholder="Password *"
            required
            formControlName="password"
          />
        </div>

        <div class="m-0">
          <input
            type="password"
            placeholder="ConfirmPassword *"
            required
            formControlName="cpassword"
          />
        </div>
        <div
          class="p-0 m-0"
          *ngIf="
            resetPasswordForm.get('password')?.touched &&
            resetPasswordForm.get('cpassword')?.touched
          "
        >
          <app-form-validation
            [control]="resetPasswordForm"
            fieldName="Password"
          ></app-form-validation>
        </div>

        <div><button>Reset Password</button></div>
      </form>
    </div>
  </div>
  <app-alert-component
    [alertMessage]="alertMessage"
    [alertType]="alertType"
    [showAlert]="showAlert"
  ></app-alert-component>
</div>
