<div class="container">
  <div class="row">
    <div class="main-login__login-container col-12">
      <div class="fanvue">fanvue <i></i></div>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordNow()">
        <div class="m-0">
          <label class="password">
            <input
              type="{{ passwordVisibility }}"
              placeholder="Password *"
              required
              formControlName="password"
            />
            <img
              (click)="togglePasswordVisibility()"
              class="eyeimg cursor-pointer"
              src="assets/login-icon/eye-close-solid-svgrepo-com.svg"
              alt=""
            />
          </label>
        </div>

        <div class="m-0">
          <label class="password">
            <input
              type="{{ passwordCnfrmVisibility }}"
              placeholder="ConfirmPassword *"
              required
              formControlName="cpassword"
            />
            <img
              (click)="toggleConfrmPasswordVisibility()"
              class="eyeimg cursor-pointer"
              src="assets/login-icon/eye-close-solid-svgrepo-com.svg"
              alt=""
            />
          </label>
        </div>
        <div
          class="p-0 m-0"
          *ngIf="
            resetPasswordForm.get('password')?.touched &&
            resetPasswordForm.get('cpassword')?.touched
          "
        >
          <app-form-validation
            [control]="resetPasswordForm"
            fieldName="Password"
          ></app-form-validation>
        </div>

        <div *ngIf="!isloading"><button *ngIf="!passwordReseted">Reset Password</button>
          <button *ngIf="passwordReseted" [routerLink]="'/login'">Sign In</button></div>
        <div *ngIf="isloading"><app-loader></app-loader></div>
      </form>
    </div>
  </div>
  <app-alert-component
    [alertMessage]="alertMessage"
    [alertType]="alertType"
    [showAlert]="showAlert"
  ></app-alert-component>
</div>
