<div class="container-fluid">

    <div class="row">
        <div class="main-editProfile__box-container col-10">
            <div *ngIf="previewUrl" style="padding: 0px;">
                <img [src]="previewUrl" alt="Profile Image" width="100%" height="100%" />
            </div>
                <div class="main-editProfile__bannerImage col-12">
                    
                    <div class="main-editProfile__fan-title row">
                        <form [formGroup]="profileForm" class="form-upload-profile">
                            <input type="file" id="open"  />
                        </form> 
                        fanvue <span class="main-editProfile__fan-dot"></span>
                    </div>
                </div>
                <div class="main-editProfile__profileImage profile-image-uploader col-12">
                    <div class="main-editProfile__fan-logo row">
                        <form [formGroup]="profileForm" class="form-upload-profile">
                            <input type="file" (change)="onFileSelected($event)" />
                        </form>
                        <div *ngIf="previewUrl" style="padding: 0px;">
                            <img [src]="previewUrl" alt="Profile Image" width="150" height="150" />
                        </div>
                        <!-- <span>NC</span> -->
                        <button class="toggle-btn">NC</button>
                    </div>
                </div>
                <!-- testing -->
                <!-- <div class="profile-image-uploader">
                <form [formGroup]="profileForm">
                  <input type="file" (change)="onFileSelected($event)" />
                </form>
                <div *ngIf="previewUrl">
                  <img [src]="previewUrl" alt="Profile Image" width="200" height="200"/>
                </div>
              </div> -->
                <!-- end -->
            
        </div>
    </div>
    <div class="row">
        <div class="main-editProfile__profile-info col-10">
            <div class="main-editProfile__page-icon" #open (click)="onFileSelected($event)">
                <img src="assets/side-bar-icon/profile-people-account-svgrepo-com.svg"  alt="">
            </div>
            <div>
                <div class="main-editProfile__info">Profile info</div>
                <div class="main-editProfile__handle">Add or change your handle, display name, bio and location.</div>
            </div>
            <div class="main-editProfile__page-icon">
                <button [routerLink]="['/profileinfo']">
                    <img src="assets/side-bar-icon/right-arrow-svgrepo-com.svg" alt="">
                </button>
            </div>
        </div>
    </div>

    <!-- testing -->
    <!-- profile-image-uploader.component.html -->



    <!-- end -->

</div>