.main-profile {
  &__box-container{
    box-shadow: 0px 2px 12px -8px; 
    border-radius: 12px;
    
  }
  &__fan-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    user-select: none;
    font-size: 4.5rem;
    font-weight: bold;
    object-fit: cover;
    color: rgb(36, 37, 41);
  }
  &__fan-dot{
    background: linear-gradient(
        95.92deg,
        rgb(244, 138, 108) 0%,
        rgb(253, 29, 93) 100%
      );
      width: 0px;
      height: 21px;
      border-radius: 50%;
      margin-top: 4rem;
      margin-left: .5rem;
  }
  &__fan-logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    // //: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    color: rgb(255, 255, 255);
    background: linear-gradient(
      95.92deg,
      rgb(244, 138, 108) 0%,
      rgb(253, 29, 93) 100%
    );
    width: 150px;
    height: 150px;
    margin: 0rem 0rem 0rem 0.5rem;
    button {
      margin: 0;
      // //: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      font-size: 5rem;
      line-height: 1.5;
      letter-spacing: 0.00938em;
      // //: var(--font-basier-circle);
      //   font-size: 12px;
      font-weight: bold;
      background: linear-gradient(
        95.92deg,
        rgb(244, 138, 108) 0%,
        rgb(253, 29, 93) 100%
      );
      border: none;
      color: white;
    }
  }
  &__fan-logo-title {
    font-size: 21px;
    font-weight: 500;
  }
  &__edit-btn {
    padding: 1rem;
    button {
      border: 1px solid;
    cursor: pointer;
      border-radius: 30px;
      padding: 0.5rem 0rem;
      background: white;
      border-color: #f94f64;
      color: rgb(249, 79, 100);
    }
    button:hover {
      background: linear-gradient(
        91.93deg,
        rgba(244, 138, 108, 0.1) 0%,
        rgba(253, 29, 93, 0.1) 100%
      );
    }
  }
  &__profile-btn {
    display: flex;
    padding-top: 2rem;
  }
  &__purchased{
    display: flex;
    justify-content: center;
    // //: var(--font-poppins);
    font-size: 21px;
    font-weight: 500;
    color:#9e9e9e;
    cursor: pointer;
  border-bottom: 1px solid transparent;
   
  }
  &__liked{
    display: flex;
    justify-content: center;
    // //: var(--font-poppins);
    font-size: 21px;
    font-weight: 500;
    color:#9e9e9e;
    cursor: pointer;
  border-bottom: 1px solid transparent;
   
  }
  &__liked-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#9e9e9e;
    // //: var(--font-poppins);
    img{
      width: 200px;
      filter: invert(86%) sepia(1%) saturate(0%) hue-rotate(160deg) brightness(74%) contrast(85%);
    }
  }
  &__purchased-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#9e9e9e;
    // //: var(--font-poppins);
    img{
      width: 200px;
      filter: invert(86%) sepia(1%) saturate(0%) hue-rotate(160deg) brightness(74%) contrast(85%);

    }
  }
  &__discover-btn {
    padding: 9px;
    display: flex;
    justify-content: center;
    button{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
    // //: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    border-radius: 30px;
    overflow: hidden;
    user-select: none;
    border: none;
    padding: 4% 18%;
    margin-top: 1.3rem;
    color: rgb(255, 255, 255);
    background: linear-gradient(
      95.92deg,
      rgb(244, 138, 108) 0%,
      rgb(253, 29, 93) 100%
    );
  }
}
&__liked-info{
  font-size: 28px;
  font-weight: 500;
}
}

.active{
  display: flex;
  justify-content: center;
  // //: var(--font-poppins);
  
  font-size: 21px;
  font-weight: 500;
  // color:#9e9e9e;
  // color: red;
  color: rgb(249, 79, 100);
  border-bottom: 2px solid rgb(249, 79, 100);

}

