<div class="container">
    <div class="row">
        <div class="main-home__leftSide col-8">
          <div class="row">
            <div class="main-home__left-profile col-12">
                <div class="main-home__leftUserDetails col-6">
                    <div class="main-home__profileImg">
                        <img src="assets/home-icon/avatarImg.png" alt="">
                    </div>
                    <div class="main-home__userName">
                            <div class="user">user 1</div>
                            <div>@user_1</div>
                    </div>
                </div>
                <div class="main-home__right col-6">
                    <div>{{timePeriod}}</div>
                    <div>
                        <img src="assets/side-bar-icon/more-horizontal-svgrepo-com.svg" alt="">
                    </div>
                </div>
            </div>

            <div class="main-home__subscriber col-12">
                Be my subscriber and come to my wonderful word
            </div>
            <div class="col-12">
                <img src="/assets/home-icon/islamabad.jpg" alt="" style="width: 100%;">
            </div>
            <div class="main-home__review col-12">
                <div>
                    <img src="assets/profile-icon/heart-svgrepo-com.svg" alt="">
                </div>
                <div>
                    <img src="assets/side-bar-icon/messages-svgrepo-com.svg" alt="">
                </div>
                <div>
                    <img src="/assets/home-icon/dollar-svgrepo-com.svg" alt="">
                </div>
            </div>

            <div class="main-home__reviewCount col-12">
                <div class="main-home__likes col-6">
                    <div class="main-home__like">likes</div>
                    <div>comments</div>
                </div>
                <div class="main-home__showComment col-6">show comment</div>
            </div>
        </div>
          </div>
















        <div class="main-home__rightSide col-4">
            <div class="row">
            <div class="contanier">

                <div class="main-home__suggestCreator col-12">Suggested Creator</div>
                <div class="main-home__rightProfile col-12">
                    <div class="main-home__rightUserDetails">

                        <div class="main-home__profileImg">
                            <img src="assets/home-icon/avatarImg.png" alt="">
                        </div>
                        <div class="main-home__userName">
                                <div class="user">user 1</div>
                                <div>@user_1</div>
                        </div>
                    </div>
                    <div class="main-home__right-btn col-6">
                        <button>follow</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>


