<div class="container">
    <div class="row">
        <div class="main-login__login-container col-12">
            <div class="fanvue">{{titleName}}<i></i></div>
            <div class="main-login__login-google">
                <span>
                    <img src="assets/login-icon/google-color-svgrepo-com.svg" alt=""> 
                    Continue with Google
                </span>
            </div>
            <div class="main-login__login-facebook">
                <span>
                    <img src="assets/login-icon/facebook-svgrepo-com.svg" alt="">
                    Continue with Facebook
                </span>
            </div>
            <div class="main-login__login-X">
                <span>
                    <img src="assets/login-icon/multiply-mathematical-sign-svgrepo-com.svg" alt="">
                    Continue with X
                </span>
            </div>
            <div><input type="email" placeholder="Email *" required></div>
            <div >
                
                   <label class="password">
                    <input type="password" name="" id="" placeholder="Password *" required>
                    <img class="eyeimg" src="assets/login-icon/eye-close-solid-svgrepo-com.svg" alt="">
                   </label>
            </div>
            <div><button [routerLink]="['/dashboard']">Sign In</button></div>
            <div class="forget">
                Forget password?
            </div>
            <div class="newToFanvue">New to {{titleName}}? <p>Sign-in</p></div>
        </div>
    </div>
</div>