<div class="container">
    <div class="row">
        <div class="col-4 col-md-5 col-sm-12 col-12"  >
            <div class="container" style="box-shadow: 0px 2px 12px -8px; height: 100vh; ">
                <div class="row">
                    <div class="main-messages__message col-12">
                        <span>Messages</span>
                    </div>
                    <div class="col-12">
                        <div class="main-messages__searchbar">
                            <img src="assets/hearder-icon/icons8-search.svg" alt="">
                            <input class="main-messages__input-field" type="search">
                        </div>
                    </div>
                    <div class="main-messages__input-btn col-10">
                        <button>All</button>
                        <button>Unread</button>
                        <button>Online</button>
                    </div>
                    <div class="main-messages__result col-12">
                        No results
                    </div>
                    <div class="main-messages__discover-btn col-12">
                        <button class=" ">Discover creator</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-md-7 col-sm-12 col-12" >
            <div class="container" style="box-shadow:0px 2px 12px -8px; height: 100vh;" >
            <div class="main-messages__right-container row">
                <div class="main-messages__chat-area col-12">
                    <img src="assets/side-bar-icon/messages-svgrepo-com.svg" alt="">
                </div>
                <div class="main-messages__chat-area not-yet col-12">
                    <span>you don't have a chat Yet</span>
                </div>
                <div class="main-messages__chat-area discover-creator col-12">
                    <span>Discover creators and start Messaging them!</span>
                </div>
                <div class="main-messages__chat-area creator col-12" >
                    <span>Discover creators</span>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>