.main-suggested {
  &__leftSide {
    box-shadow: 0px 2px 12px -8px;
    //: Roboto, Helvetica, Arial, sans-serif;
    padding: 0px;
    // padding-top: 1rem;
    border-radius: 20px;
    margin-top: 4rem;
  }
  &__user-profile {
    position: relative;
    background-image: url("/assets/home-icon/islamabad.jpg");
    min-height: 200px;
    padding-top: 1rem;
  }
  &__user-profile-name {
    display: flex;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }
  &__user-profile-menu {
    display: flex;
    justify-content: end;
    padding-right: 1rem;
    img {
      width: 25px;
    }
  }
  &__about-user-profile {
    display: flex;
    padding-left: 1rem;
    .about {
      display: flex;
      align-items: self-end;
    }
    img {
      width: 25px;
      filter: invert(100%) sepia(64%) saturate(0%) hue-rotate(203deg)
        brightness(112%) contrast(101%);
      padding-right: 0.3rem;
    }
    span {
      color: white;
      padding-right: 0.5rem;
    }
  }
  &__user-unfollow {
    display: flex;
    justify-content: end;
    padding: 1rem 1rem 3rem 0rem;

    .unfollow {
      border: 1px solid rgb(249, 79, 100);
      padding: 0.5rem;
      border-radius: 50%;
      margin-right: 0.4rem;
    }
    .userfollow {
      padding: 0.5rem;
      font-weight: bold;
      border: 1px solid #f94f64;
      border-radius: 30px;
      color: #f94f64;
    }
    img {
      width: 20px;
      filter: invert(53%) sepia(38%) saturate(7395%) hue-rotate(325deg)
        brightness(101%) contrast(95%);
    }
  }
  &__user-profileImg {
    position: absolute;
    left: 2%;
    top: 60%;
    img {
      width: 150px;
      border-radius: 100px;
    }
  }
  &__left-profile {
    display: flex;
    padding-bottom: 2rem;
    padding: 0rem 2rem 1rem;
  }
  &__user-title {
    padding: 0rem 0rem 1.5rem 1rem;
  }
  &__follow-me-title {
    font-size: 12px;
    font-weight: 300;
    //: Roboto;
    color: black;
    padding-left: 1rem;
  }
  &__subscribe {
    padding: 1rem 1rem;
  }
  &__subscribe-btn {
    padding: 1rem;
    display: flex;
    background: rgb(249, 79, 100);
    cursor: pointer;
    border: 1px solid;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    color: white;
    .subscribe-btn {
      display: flex;
      justify-content: left;
    }
    .ammount {
      display: flex;
      justify-content: end;
    }
  }
  &__fan-dot {
    background: linear-gradient(95.92deg, rgb(244, 138, 108) 0%, #fd1d5d 100%);
    width: 25px;
    border-radius: 50%;
    img {
      width: 90%;
      filter: invert(100%) sepia(64%) saturate(0%) hue-rotate(203deg)
        brightness(112%) contrast(101%);
    }
  }
  &__profile-btn {
    display: flex;
    padding-top: 2rem;
  }
  &__media-player {
    display: flex;
    justify-content: center;
    //: var(--font-poppins);
    font-size: 21px;
    font-weight: 500;
    color: #9e9e9e;
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }
  &__posted {
    display: flex;
    justify-content: center;
    //: var(--font-poppins);
    font-size: 21px;
    font-weight: 500;
    color: #9e9e9e;
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }
  &__post-content {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-start;
    color: #9e9e9e;
    //: var(--font-poppins);
    img {
      width: 200px;
      filter: invert(86%) sepia(1%) saturate(0%) hue-rotate(160deg)
        brightness(74%) contrast(85%);
    }
    .all {
      color: white;
      background: rgb(249, 79, 100);
      border-radius: 20px;
      padding: 0.5rem 1rem;
      margin-right: 0.5rem;
    }
    .pay-view {
      color: #9e9e9e;
      background: #dbdbdb;
      border-radius: 20px;
      padding: 0.5rem 1rem;
    }
  }
  &__media-content {
    display: flex;
    justify-content: flex-start;
    color: #9e9e9e;
    //: var(--font-poppins);
    img {
      width: 200px;
      filter: invert(86%) sepia(1%) saturate(0%) hue-rotate(160deg)
        brightness(74%) contrast(85%);
    }
  }

  &__leftUserDetails {
    display: flex;
  }
  &__profileImg {
    display: flex;
    padding-right: 0.5rem;
    img {
      width: 50px;
      border-radius: 42px;
    }
  }
  &__userName {
    //: Roboto, Helvetica, Arial, sans-serif;
    color: #9e9e9e;
    .user {
      font-weight: bold;
      display: flex;
      padding-bottom: 0.3rem;
      color: black;
    }
  }
  

  //right

  &__rightSide {
    //: Roboto, Helvetica, Arial, sans-serif;
    padding: 1rem 0rem 0rem 1rem;
  }

  &__suggestCreator {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 2rem;
  }
  &__rightProfile {
    background-image: url("/assets/home-icon/islamabad.jpg");
    display: flex;
    min-height: 100px;
    padding: 1rem 0rem 1rem 1rem;
  }
  &__rightUserDetails {
    display: flex;
  }
  &__rightSideFollow-btn {
    position: relative;
  }
  &__right-follow-btn {
    display: flex;
    justify-content: end;
    padding-right: 0.5rem;
    padding-top: 1rem;
    button {
      //: Roboto, Helvetica, Arial, sans-serif;
      border-radius: 30px;
      overflow: hidden;
      border: none;
      padding: 4% 18%;
      color: rgb(255, 255, 255);
      background: linear-gradient(
        95.92deg,
        rgb(244, 138, 108) 0%,
        rgb(253, 29, 93) 100%
      );
    }
  }
  &__right-btn {
    position: absolute;
    right: -30%;
    top: 0px;
    button {
      //: Roboto, Helvetica, Arial, sans-serif;
      border-radius: 30px;
      overflow: hidden;
      border: none;
      padding: 4% 18%;
      color: rgb(255, 255, 255);
      background: linear-gradient(
        95.92deg,
        rgb(244, 138, 108) 0%,
        rgb(253, 29, 93) 100%
      );
    }
  }
}
.active {
  display: flex;
  justify-content: center;
  //: var(--font-poppins);
  font-size: 21px;
  font-weight: 500;
  color: rgb(249, 79, 100);
  border-bottom: 2px solid rgb(249, 79, 100);
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.pagination a {
  color: black;
  // float: left;
  padding: 8px 6px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.page-paginate {
  display: flex;
  justify-content: center;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

@media screen and (max-width: 768px) {
  .main-suggested {
    &__sides {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
