<div class="row">
    <div class=" col-12">
     
                <div class="main-account__message col-12">
                    <span>Help and support</span>
                </div>
                <div class="main-account__account-description col-10"> 
                    <span>See information about your support aptions and our policies.</span>
                </div>
                <div class="accout-active col-12" [routerLink]="['#']" [routerLinkActive]="'active'" >
                    <div class="account col-10">
                        <div>
                            <img src="assets/settings/privacyIcon/help-center-svgrepo-com.svg" alt="">
                        </div>
                        <div>Help center</div>
                    </div>
                    <div class="col-2">
                        <img src="assets/side-bar-icon/right-arrow-svgrepo-com.svg" alt="">
                    </div>
                </div>

                <div class="accout-active col-12" >
                    <div class="account col-10">
                        <div>
                            <img src="assets/settings/privacyIcon/boy-with-headphones-svgrepo-com.svg" alt="">
                        </div>
                        <div>Speak with support</div>
                    </div>
                    <div class="col-2">
                        <img src="assets/side-bar-icon/right-arrow-svgrepo-com.svg" alt="">
                    </div>
                </div>

                <div class="accout-active col-12" >
                    <div class="account col-10">
                        <div>
                            <img src="assets/settings/privacyIcon/signing-the-contract-svgrepo-com.svg" alt="">

                        </div>
                        <div>Term and conditions</div>
                    </div>
                    <div class="col-2">
                        <img src="assets/side-bar-icon/right-arrow-svgrepo-com.svg" alt="">
                    </div>
                </div>

                <div class="accout-active col-12" >
                    <div class="account col-10">
                        <div>
                            <img src="assets/settings/privacyIcon/privacy-tips-svgrepo-com.svg" alt="">

                        </div>
                        <div>Privacy policy</div>
                    </div>
                    <div class="col-2">
                        <img src="assets/side-bar-icon/right-arrow-svgrepo-com.svg" alt="">
                    </div>
                </div>

                <div class="accout-active col-12" >
                    <div class="account col-10">
                        <div>
                            <img src="assets/settings/privacyIcon/community-group-public-svgrepo-com.svg" alt="">

                        </div>
                        <div>Community guidelines</div>
                    </div>
                    <div class="col-2">
                        <img src="assets/side-bar-icon/right-arrow-svgrepo-com.svg" alt="">
                    </div>
                </div>
         
    </div>
    
</div>