<div class="row">
    <div class="col-12">
     
                <div class="main-account__message col-12">
                    <span>Privacy and safety</span>
                </div>
                <div class="main-account__account-description col-10"> 
                    <span>See information about your privacy, change privacy settings, or learn about your privacy options.</span>
                </div>
                <div class="accout-active col-12" [routerLink]="['#']" [routerLinkActive]="'active'" >
                    <div class="account col-10">
                        <div>
                            <img src="assets//settings/privacyIcon/block-prohibited-svgrepo-com.svg" alt="">
                        </div>
                        <div>Blocked account</div>
                    </div>
                    <div class="col-2">
                        <img src="assets/side-bar-icon/right-arrow-svgrepo-com.svg" alt="">
                    </div>
                </div>


                

         
    </div>
    
</div>