<div class="container">
  <div class="row">
    <div class="main-login__login-container col-12">
      <div class="fanvue">fanvue <i></i></div>

      <form [formGroup]="forgetPassword" (ngSubmit)="submit()">
        <div class="m-0">
          <input
            type="email"
            placeholder="Email *"
            required
            formControlName="email"
          />
        </div>
        <div class="p-0 m-0" *ngIf="forgetPassword.get('email')?.touched">
          <app-form-validation
            [control]="email"
            fieldName="Email"
          ></app-form-validation>
        </div>

        <div *ngIf="!isloading"><button>Send Verification Email</button></div>
        <div *ngIf="isloading"><app-loader></app-loader></div>
      </form>
    </div>
  </div>
  <app-alert-component
    [alertMessage]="alertMessage"
    [alertType]="alertType"
    [showAlert]="showAlert"
  ></app-alert-component>
</div>
