$secondary-font: "Roboto, Helvetica, Arial, sans-serif";
$primary-color: #9e9e9e;
$backgroung:linear-gradient(
    95.92deg,
    rgb(244, 138, 108) 0%,
    rgb(253, 29, 93) 100%
  );
$secondary-color: #f94f64;
$border-color: #f94f64;
$grey-img: invert(73%) sepia(12%) saturate(0%) hue-rotate(219deg)
brightness(83%) contrast(95%);